* { 
    box-sizing: border-box;
}
html {
    font-size: 18px;
}


body {
    min-height: 100vh;
    display: flex;
    font-family: "Merriweather", serif;
    font-weight: 300;
    margin: 0;

    background-image: linear-gradient(120deg, #4776e6, #8e54e9, #33d0ff, #eaee44);
    background-size: 800% 800%;
    -webkit-animation: bodyBG 60s linear infinite;
    -moz-animation: bodyBG 60s linear infinite;
    animation: bodyBG 60s linear infinite;
}

input, select, textarea {
    height: 2.25rem;
    font-size: 1.1rem;
    color: #444;
    width: 100%;
    padding: 0 5px;
}
textarea {
    height: 20vh;
}
label {
    font-size: .9rem;
    color: #444;
}
::placeholder {
    color: #999;
    font-size: 1rem;
}

.button {
    display: block;
    padding: 20px 50px;
    color: white;
    font-size: 1.3rem;
    background-color: #068D9D;
    cursor: pointer;
    transition: .3s ease-out;
}
.button:hover {
    background-color: #25a2b1;
}

.banner {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    width: 70vw;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
}
.banner__title {
    font-size: 5.2rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
.banner__subtitle {
    font-size: 2rem;
    line-height: 1.4em;
    font-weight: 300;
}
.banner__cta {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 20px 50px;
    background-color: #eaee44;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    text-shadow: none;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #111;
    transition: transform .4s;
    transition-timing-function: cubic-bezier(0,2,1,1);
}
.banner__cta:hover {
    transform: scale(1.15) rotate(1.5deg);
    transition-timing-function: cubic-bezier(0,4,1,1);
}



.modal {
    position: absolute;
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .5s ease-out;
    z-index: -1;

}
.modal__content {
    background-color: white;
    position: relative;
    width: 80vw;
    height: 90vh;
    padding: 3rem;

    margin: auto;
    z-index: 1;
}
.modal__close {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -20px;
    right: -20px;
    display: flex;
    border: 5px solid #068D9D;

}
.modal__close svg {
    width: 35%;
    height: 35%;
    margin: auto;
}
.modal__close svg path {
    fill:  #068D9D;
}
.modal__title {
    grid-area: content;
    grid-row: 1;
}
.modal__form {
    display: grid;
    grid-template-columns: [content-start col1-start] 1fr [col1-end col2-start] 1fr [col2-end content-end];
    grid-gap: 1rem;
}
.input--hidden {
    display: none;
}
.input--full-span {
    grid-column: span 2;
    justify-self: center;
    width: 70%;
}
@media (max-width: 600px) {
    .input--full-span {
        justify-self: stretch;
        width: auto;
    }
}
.modal::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
}
.modal.visible {
    opacity: 1;
    z-index: 1;
}



@-webkit-keyframes bodyBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bodyBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bodyBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes buttonBG {
    0% {
        background-color: #eaee44;
        color: black;
    }
    20% {
        color: black;
    }
    21% {
        color: white;
    }
    35% {
        background-color: #4776e6;
    }
    65% {
        background-color: #8e54e9;
        color: white;
    }
}
